html{
	position:relative;
	min-height: 100%;
}
body{
	background-color:#EEEEEE;
	margin-bottom:5em;
}
.main-content{
	/*position:relative;*/
	background:#EEEEEE;
	padding-top:8em!important;
	padding-right:15px;
	margin-bottom:5em!important;
	/*border-radius:2em;*/
}
.shop-catalog-index, .shop-product-index, .shop-checkout-index{
	/*opacity: .99;*/
}
.side-bar{
	min-height:100%;
}
.main-shadow{
	box-shadow:0 10px 50px 0px #8888FF;/*bedeff*/
}
.fix-top2{
	position:fixed;
	left:0px;
	top:55px;
	width:100%;
	height:4.2em;
	z-index:100;
	/*overflow:hidden;*/
}/*
.fix-top-wrapper{
	height:4.2em;
}*/
.discount-alert{
	position:absolute;
	top:1.5em;
	left:1em;
}
.logo-image{
	margin-top:-12px;
	width:80px;
/*	height:4.2em;*/
}
.footer{
	position: absolute;
	bottom:0px;
	width:100%;
	height: 5em;
	/*background-color:#DDDDDD;*/
	padding-top:0px;
	border-top:0px;
	margin-top:3em;
}
.footer a{
	color:#100873;
}
.products-controlbar{
	margin-top: 1em;
}
.product-preview{
	padding:0.3em;
	padding-top:2em;
	height:32 em;
	background-color:white;
	border:3px solid #EEEEEE;
}
.product-image-wrapper-preview{
	height:20em;
}
.product-image-wrapper-full{
	height:40em;
}
.product-image-wrapper-icon{
	height:7em;
}/*
.product-image-wrapper-full:after{
	content: '';
	bottom: 8px;
	left: 20px;
	width: 40%;
	height: 3%;
	box-shadow: 0 10px 6px rgba(0,0,0,0.3);
	transform: rotate(-4deg);
	z-index: -2;
	position:absolute;
}
.product-image-wrapper-icon:after{
	content: '';
	bottom: 8px;
	left: 14px;
	width: 40%;
	height: 3%;
	box-shadow: 0 10px 6px rgba(0,0,0,0.3);
	transform: rotate(-4deg);
	z-index: -2;
	position:absolute;
}
.product-image-wrapper-preview:after{
	content: '';
	bottom: 11.5em;
	left: 14px;
	width: 40%;
	height: 3%;
	box-shadow: 0 10px 6px rgba(0,0,0,0.3);
	transform: rotate(-4deg);
	z-index: -2;
	position:absolute;
}*/
.product-image-wrapper{
	text-align:center;
	background-color:white;
/*	border-color:grey;
	border-width:1px;
	border-style:solid;*/
	padding:1px;
}
.product-image-wrapper:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.product-image{
	display: inline-block;
	max-height:100%;
	max-width:100%;
	vertical-align: middle;
	margin-left: -0.35em;
}
.product-into-basket{
	/*position:absolute;*/
	/*bottom:2px;*/
	/*right:50px;*/
}

.product-name{
	margin-top:20px;
	height:5em;
}
.product-price{
	padding-top:1em;
	border-top-color:grey;
	border-top-width:1px;
	border-top-style:solid;
}
.product-action{
	position:absolute;
	top:1em;
	left:1em;
	box-shadow:1px 1px 3px 1px #550000;
}
.product-action-discount{
	position:absolute;
	top:1em;
	right:1em;
	box-shadow:1px 1px 3px 1px #550000;
}
.product-squ-filter-item:hover{
	box-shadow:0 0 2px 2px #555555;
}
.product-squ-filter-item-active{
	border:1px solid grey;
}
h1{
	font-size:30px;
	text-align:center;
	margin-bottom:1.5em;
}
/*side menu section*//*
.side-menu-element{
	box-shadow:0 0 5px 3px #8fc7ff;
	margin:10px;
	margin-left:0px;
	border-radius: 10px;
	border: 1px solid #8fc7ff;
	margin-right:0px;
}
.side-menu-element:hover{
	box-shadow:0 0 50px 1px #8fc7ff;
	background-color:white;
	border: 1px solid #8fc7ff;
}*/
.nav > li > a:hover, .nav > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	background-color:transparent;
}
.basket-box{
	position:absolute;
	top:3.5em;
	right:1.5em;
}
.basket-count{
	color:yellow;
	font-size: 1.2em;
	background-color:navy;
	border-radius: 1em;
	width:1.5em;
	height:1.5em;
	position:absolute;
	top:0.35em;
	left:1em;
	opacity: .6;
}
.basket-sum{
	font-size: 1.5em;
}
span.glyphicon-shopping-cart {
	font-size: 3.5em;
	padding-top:0.1em;
}
/*original properties by yii*/
.wrap {
	min-height: 100%;
	height: auto;
/*	margin: 0 auto -60px;
	padding: 0 0 60px;*/
}

.wrap > .container-fluid {
	padding: 10px 15px 20px;
}

.jumbotron {
	text-align: center;
	background-color: transparent;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}

.not-set {
	color: #c55;
	font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	padding-left: 5px;
}

a.asc:after {
	content: /*"\e113"*/ "\e151";
}

a.desc:after {
	content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
	content: "\e153";
}

.sort-numerical a.desc:after {
	content: "\e154";
}

.sort-ordinal a.asc:after {
	content: "\e155";
}

.sort-ordinal a.desc:after {
	content: "\e156";
}

.grid-view th {
	white-space: nowrap;
}

.hint-block {
	display: block;
	margin-top: 5px;
	color: #999;
}

.error-summary {
	color: #a94442;
	background: #fdf7f7;
	border-left: 3px solid #eed3d7;
	padding: 10px 20px;
	margin: 0 0 15px 0;
}

